body {
  color: #333;
  font-size: 90%;
  font-family: "myriad-pro-1","myriad-pro-2", Lucida Grande, Arial, Verdana, sans-serif;
  font-weight: 400;
  margin: 0;
  background: #000;
}
#main_nav, #container, #latest {
  font-size: 1em;
  line-height: 1.5em;
}
.wf-loading, .wf-inactive {
  font-size: 88%;
}
h1, h2, h3, h4, h5, h6, p, address, ul, ol, li, dl, dt, dd, blockquote, cite, pre {padding:0; margin: 0;}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 1.5em 0 1em;
  line-height: 1.5em;
}
h1, .h1 {
  font-size: 2em;
}
h2, .h2 {
  font-size: 1.5em;
}
h3, .h3 {
  font-size: 1.25em;
}
h4, .h4 {
  font-size: 1.1em;
}
h1:first-child, .h1:first-child,
h2:first-child, .h2:first-child {
  margin-top: 0;
}
p, .p, ol, ul, dl, address, blockquote, cite, pre {
  margin: 1em 0 1.5em;
}
ul, ol {
  padding-left: 1.5em;
}
li {
  margin: 0.25em 0;
}
strong {
  font-weight: 700;
}
code, pre {
  font-family: Monaco, Courier New, mono;
  font-size: 0.9em;
}
pre {
  font-size: 12px;
  overflow: auto;
}
a img {
  border: none;
}
a:link {
  color: #39F;
  text-decoration: none;
}
a:visited {
  color: #36C;
  text-decoration: none;
}
a:hover, a:active {
  color: #39F;
  text-decoration: underline;
}
.button {
  display: inline-block;
  padding: 4px 10px;
  background: #900;
  background: -webkit-gradient(linear, left top, left bottom, from(#900), to(#600));
  background: -moz-linear-gradient(top,  #900,  #600);
  border: 1px solid #600;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.2), inset -1px -1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.2), inset -1px -1px 1px rgba(0,0,0,0.2);
}
.button:hover {
  background: #A00;
  background: -webkit-gradient(linear, left top, left bottom, from(#A00), to(#700));
  background: -moz-linear-gradient(top,  #A00,  #700);
  border: 1px solid #600;
  text-decoration: none;
}

.wrapper, #header, #hero, #white {
  width: 870px;
  margin: 0 auto;
  padding: 0 20px;
}

#main_nav {
  background: #1A1A1A;
  text-align: center;
  padding: 4px 0;
  font-size: 1.1em;
}
#main_nav ul {
  margin: 0;
  padding: 0;
}
#main_nav li {
  display: inline;
  margin: 0 6px;
}
#main_nav a {
  color: #CCC;
  text-decoration: none;
}
#main_nav a img {
  vertical-align: middle;
}
#main_nav a:hover {
  color: #EEE;
  text-decoration: none;
}
#main_nav .on a {
  color: #FFF;
}

#footer {
  vertical-align: middle;
  text-align: center;
}

#container {
  background: url(/images/bg_subpage_head.png) repeat-x left top;
}
.home #container {
  background: url(/images/bg_head.png) repeat-x left top;
}
#header {
  height: 120px;
  padding: 0;
}
#header h1 {
  background: url(/images/jruby-logo-sm.png) no-repeat left top;
  width: 280px;
  height: 80px;
  overflow: hidden;
  text-indent: -10000px;
  float: left;
  margin: 30px 0 0 65px;
}
#header h2 {
  display: none;
}
#latest_release {
  background: url(/images/bg-download.png) no-repeat left;
  float: right;
  width: 460px;
  padding: 15px 0;
  margin-top: 25px;
}
#latest_release h3, #latest_release ul {
  margin: 0 0 0 110px;
}
#latest_release h3 {
  font-weight: 700;
  line-height: 1.2em;
  font-weight: 400;
}
#latest_release h3 a {
  color: #333;
}
#latest_release ul {
  padding: 0;
}
#latest_release li {
  display: inline-block;
  border-left: 1px solid #DDD;
  padding: 0 4px;
  margin: 0;
  line-height: 1em;
}
#latest_release li:first-child {
  border-left: none;
  padding-left: 0;
}
.home #header {
  height: 188px;
}
.home #header h1 {
  background: url(/images/jruby-logo.png) no-repeat left top;
  width: 356px;
  height: 102px;
  margin: 50px 0 0 50px;
}
.home #header h2 {
  display: block;
  color: #666;
  float: right;
  width: 410px;
  text-align: center;
  margin: 20px 30px 0 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  line-height: 1.4em;
}
.home #header h2 strong {
  font-size: 1.2em;
  font-weight: 700;
}
.home #latest_release {
  margin: 10px 0 0;
}
#header em {
  color: #900;
  font-style: normal;
}
#hero {
  color: #FFF;
  height: 290px;
  padding: 15px 0 0;
}
#hero .wrapper a {
  color: #FFF;
}
#hero .feature {
  font-size: 1.1em;
  width: 230px;
  height: 170px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  background: #B30202;
  background: -webkit-gradient(linear, left top, left bottom, from(#700), to(#B30202));
  background: -moz-linear-gradient(top,  #700,  #B30202);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  text-align: center;
}
#hero .feature:first-child {
  margin-left: 0;
}
#hero .feature h3 {
  font-size: 1.2em;
  margin: 0;
}
#hero .feature.java h3, #hero .feature.ruby h3, #hero .feature.platform h3 {
  padding-bottom: 80px;
  display: block;
  background: url(/images/sprite-features.png) no-repeat;
}
#hero .feature.java h3 {
  background-position: 80px 0;
}
#hero .feature.ruby h3 {
  background-position: -205px 0;
  padding-bottom: 100px;
  margin-bottom: -20px;
}
#hero .feature.platform h3 {
  background-position: -520px 0;
}
#hero .feature ul {
  margin: 0;
}
#hero .feature li {
  margin: 0;
}
#hero .feature img {
  border: 6px solid #A64C4C;
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  margin-top: 10px;
}
#hero .feature img:hover {
  border: 6px solid #C08080;
}
#hero #link, #hero #instructions {
  float: left;
  margin-left: 40px;
}
#hero #link {
  text-align: center;
}
#hero #instructions ol {
  font-size: 1.4em;
}
#repo, #mailing_lists, #issue_tracker, #irc {
  font-size: 2em;
  display: inline-block;
  margin: 25px 0;
  padding: 6px 0 6px 40px;
  width: 380px;
  background: url("/images/get_involved_icons.png") no-repeat scroll left 0px;
}
#mailing_lists {
  background-position: -3px -103px;
}
#issue_tracker {
  background-position: left -45px;
}
#irc {
  background-position: left -145px;
}
#latest, #content {
  background: #000 url(/images/bg_foot.png) repeat-x left top; 
  padding: 30px 0;
}
#latest {
  color: #FFF;
}
#latest a {
  color: #3CF;
}
#latest h2 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
#latest h2 img {
  margin-bottom: -6px;
}
#latest h3 {
  margin: 0 0 0.25em;
}
#latest h3 + p {
  margin-top: 0;
}
#twitter ul {
  list-style: none;
  padding: 0;
}
#twitter li {
  margin-bottom: 1.25em;
}
#twitter #twitter-link {
  margin-top: 6px;
  font-size: 12px;
  text-transform: uppercase;
}
#twitter span {
  display: block;
}
#white {
  width: 810px;
  background: #FFF;
  padding: 30px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 1px 1px 6px rgba(0,0,0,0.6);
  -webkit-box-shadow: 1px 1px 6px rgba(0,0,0,0.6);
}

/* Blocks */
.halfColumn {
  width: 405px;
  margin-left: 30px;
  display: inline-block;
  vertical-align: top;
}
.halfColumn:first-child {
  margin-left: 0;
}
.badges {
  list-style: none;
  padding: 0;
  margin: 0;
}
.right {
  float: right;
}
.left {
  float: left;
}
img.left {
  margin-right: 15px;
  margin-bottom: 5px;
}
