  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{ page.title }} &mdash; JRuby.org</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="alternate" href="http://{{ site.domain }}/atom.xml" title="JRuby.org News" type="application/atom+xml"/>
  <link rel="stylesheet" href="/stylesheets/main.css?version=1" type="text/css" media="screen" title="no title" charset="utf-8" />
  <!--[if lte IE 7]><link rel="stylesheet" href="/stylesheets/ie7-hacks.css" type="text/css" media="screen" title="no title" charset="utf-8" /><![endif]-->
  <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" title="no title" charset="utf-8" />
  
  <script type="text/javascript" src="http://use.typekit.com/swo8tlm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>