  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>JRuby.org :: {{ page.title }}</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="alternate" href="http://{{ site.domain }}/atom.xml" title="JRuby.org News" type="application/atom+xml"/>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" title="no title" charset="utf-8" />
  <!--[if IE 7]><link rel="stylesheet" href="/stylesheets/ie7_hacks.css" type="text/css" media="screen" title="no title" charset="utf-8" /><![endif]-->
  <!--[if IE 6]><link rel="stylesheet" href="/stylesheets/ie6_hacks.css" type="text/css" media="screen" title="no title" charset="utf-8" /><![endif]-->
  <script src="/javascripts/jquery.js" type="text/javascript"></script>
