<div id="latest_release">
  <h3><a href="/download">Download the latest release</a> - <a href="{{ site.release.url }}"><strong>{{ site.release.version }}</strong></a></h3>
  <ul class="trackDownloads">
    <li><a href="{{ site.release.tar }}">tar</a></li>
    <li><a href="{{ site.release.zip }}">zip</a></li>
<!--    <li><a href="{{ site.release.dmg }}">dmg</a></li> -->
    <li><a href="{{ site.release.exe }}">exe</a></li>
    <li><a href="{{ site.release.exe64 }}">exe(x64)</a></li>
    <li><a href="{{ site.release.exejre }}">exe+jre</a></li>
    <li><a href="{{ site.release.exejre64 }}">exe+jre(x64)</a></li>
  </ul>
</div>
